.body {
	background-color: lightgrey;
	padding:0;
	margin:0;
	font-size: 15px;
}

.mainContainer {
	width:80%;
	margin:0 auto;
}

.header,
.footer {
	display:inline-flex;
	width:100%;
	height: 120px;
	background: -webkit-linear-gradient(grey, black); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(grey, black); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(grey, black); /* For Firefox 3.6 to 15 */
	background: linear-gradient(grey, black); /* Standard syntax */
}

.logoContainer {
	width:30%;
	padding:1%;
	padding-left:20%;
}

.firstHalfOfTheLogo {
	width:70%;
	color:white;
	font-size: 4rem;
	cursor: pointer;
}

.secondHalfOfTheLogo {
	position: absolute;
	top:1%;
	left:31%;
	color:orange;
	cursor: pointer;
	font-size: 7rem;
	-ms-transform: rotate(-34deg); /* IE 9 */
    -webkit-transform: rotate(-34deg); /* Chrome, Safari, Opera */
    transform: rotate(-34deg);
}

.divLink {
	text-decoration: none;
	color:inherit;
}

.navLink {
	text-decoration: none;
	color:white;
}

.navbar {
	width:30%;
	float:right;
	display:inline-flex;
	color:white;
	padding-top: 3%;
	margin-left: 3%;
	font-size: 1.5rem;
}

.navigation {
	width:50%;
	height: 40px;
	margin-left: 2%;
	border-radius: 20%;
	/*background: orange !important;*/
	text-align: center;
	padding-top: 3%;
	cursor: pointer;
	background: -webkit-linear-gradient(left, grey , black) !important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, grey , black) !important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, grey , black) !important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, grey , black) !important; /* Standard syntax */
}

.navigation:hover {
	color:black;
	background: -webkit-linear-gradient(left, white , #FF9C00) !important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, white , #FF9C00) !important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, white , #FF9C00) !important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, white , #FF9C00) !important; /* Standard syntax */
}

.navigation:active {
	color:black;
	background: -webkit-linear-gradient(left, #FF9C00, white) !important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #FF9C00, white) !important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #FF9C00, white) !important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #FF9C00, white) !important; /* Standard syntax */
}

.section {
	width:95%;
	min-height: 620px;
	background:white;
	margin:2% auto;
	border-radius: 10px;
}

.view {
	padding-top: 5%;
}

.loginContainer {
	width:30%;
	font-size: 2rem;
	margin:auto;
	text-align: center;
	padding:4%;
	padding-bottom: 6%;
	border:solid white;
	border-radius: 30px;
	background: #FF9C00 !important;
	box-shadow: 30px 30px 10px black; 
}

.loginContainer>p {
	text-align: left !important;
}

.loginDiv,
.registerDiv {
	padding:0.5%;
	padding-bottom: 2%;
	border-bottom: solid black;
	font-weight: bold;
}

.userNameDiv,
.passwordDiv {
	width:100%;
	margin:auto;
	margin-top:4%;
	text-align: left;
	font-size: 1.5rem !important;
}

.userNameRegDiv,
.passwordRegDiv,
.nameDiv,
.phoneDiv,
.confirmPasswordDiv,
.emailDiv,
.townDiv {
	width:90%;
	margin:auto;
	margin-top:4%;
	text-align: left;
	font-size: 1.5rem !important;
}

.passwordDiv {
	margin-bottom: 5%;
}

.phoneDiv,
.townDiv {
	margin-bottom: 6%;
}

.userNameDiv>input,
.passwordDiv>input {
	width: 97%;
	height: 35px;
	outline: none;
	padding: 0.5%;
	padding-left: 1%;
	font-size: 1.4rem;
}

.userNameRegDiv>input,
.passwordRegDiv>input,
.nameDiv>input,
.phoneDiv>input,
.confirmPasswordDiv>input,
.emailDiv>input,
.townDiv>input {
	width: 97%;
	height: 35px;
	outline: none;
	padding: 0.5%;
	padding-left: 1%;
	font-size: 1.4rem;
}

.emptyDiv {
	height: 86px;
}

.submitButton {
	width:50%;
	height: 40px;
	border-radius: 10px;
	cursor: pointer;
	float: left;
	font-size: 1.6rem;
	outline: none;
	color:white;
	background: -webkit-linear-gradient(left, grey , black) !important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, grey , black) !important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, grey , black) !important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, grey , black) !important; /* Standard syntax */
}

.registerButton {
	width: 60%;
	height: 40px;
	border-radius: 10px;
	cursor: pointer;
	font-size: 1.6rem;
	outline: none;
	color:white;
	background: -webkit-linear-gradient(left, grey , black) !important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, grey , black) !important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, grey , black) !important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, grey , black) !important; /* Standard syntax */
}

.linkRegister {
	font-size: 1.5rem;
	float: right;
}

.linkLogin {
	font-size: 1.5rem;
}

.registerContainer {
	width:70%;
	height: 420px;
	font-size: 2rem;
	margin:auto;
	margin-top: -3%;
	text-align: center;
	padding-top:1%;
	padding-left: 3%;
	padding-right: 3%;
	padding-bottom: 6%;
	border:solid white;
	border-radius: 30px;
	background: #FF9C00 !important;
	box-shadow: 30px 30px 10px black; 
}

.leftSideOfRegForm,
.rightSideOfRegForm {
	width:48%; 
}

.leftSideOfRegForm {
	float:left;
}

.rightSideOfRegForm {
	float: right;
}

.container {
	width: 100%;
	display: inline-flex;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 5%;
}

.addsContainer {
	width: 65%;
	min-height: 520px;
	margin-right: 3%; 
	border-radius: 10px;
	background: lightgrey;
}

.footerLeftSide {
	color: white;
	padding: 4%;
}

.removeListStyle {
	list-style: none;
	margin:0;
	padding:0;
}

.addContainer {
	width:70%;
	margin:3% auto;
	background:#FF9C00;
	border-radius: 10px;
	border:solid white;
}

.addHeader {
	display: inline-flex;
	width: 100%;
	padding:2%;
}

.titleContainer {
	position: relative;
	width: 70%;
	left: -16%;
	padding: 2%;
	font-size: 2rem;
	color: white;
	background: -webkit-linear-gradient(grey, black); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(grey, black); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(grey, black); /* For Firefox 3.6 to 15 */
	background: linear-gradient(grey, black); /* Standard syntax */
}

.dateContainer {
	width: 25%;
	padding: 3%;
	font-size: 1.5rem;
	color: white;
}

.addBody {
	display: inline-flex;
	width: 100%;
}

.addImg {
	width: 100%;
}

.imgContainer {
	width: 30%;
	margin: 3%;
	padding: 3%;
	background: #F7BC50;
}

.infoContainer {
	width:70%;
	padding:3%;
	padding-right: 0;
	margin-right: 3%;
}

.textContainer {
	background: #F7BC50;
	font-size: 1.2rem;
	padding:2%;
}

.nameContainer,
.emailContainer,
.phoneContainer {
	width:100%;
	display: inline-flex;
	margin-top: 2%;
}

.ownerName,
.ownerEmail,
.ownerPhone {
	width: 83%;
	background: #F7BC50;
	font-size: 1.2rem;
	padding:2%;
}

.leftSide {
	width:17%;
	padding:3% 0;
}

.filtersContainer {
	width: 19%;
	min-height: 520px;
	border-radius: 10px;
	background: lightgrey;
	padding:2%;
}

.filterCategory,
.filterTowns {
	border-radius: 10px;
	background: #FF9C00;
	font-size: 1.2rem;
	padding:10%;
}

.filterCategory {
	margin-bottom: 12%;
}

.headerCategory,
.headerTowns {
	padding:0.5%;
	padding-bottom: 2%;
	border-bottom: solid black;
	font-weight: bold;
	text-align: center;
	margin-bottom: 5%;
}

.hoverAdd {
	padding-left: 2%;
	border-radius: 5px;
}

.hoverAdd:hover {
	cursor:pointer;
	background: #F7BC50;
}