<ul ng-class='removeListStyle' ng-controller='LeftSideController'>
	<li ng-repeat='add in data.ads'>
		<div ng-class='addContainer'>
			<div ng-class='addHeader'>
				<div ng-class='titleContainer'>
					{{add.title}}
				</div>
				<div ng-class='dateContainer'>
					{{add.date | date: 'dd-MMM-yyyy'}}
				</div>
			</div>
			<div ng-class='addBody'>
				<div ng-class='imgContainer'>
					<img src="" ng-src='{{add.imageDataUrl}}' ng-class='addImg' />
				</div>
				<div ng-class='infoContainer'>
					<div ng-class='textContainer'>
						{{add.text}}
					</div>
					<div ng-class='nameContainer'>
						<div ng-class='leftSide'>Name:</div>
						<div ng-class='ownerName'>
							{{add.ownerName}}
						</div>
					</div>
					<div ng-class='emailContainer'>
						<div ng-class='leftSide'>Email:</div>
						<div ng-class='ownerEmail'>
							{{add.ownerEmail}}
						</div>
					</div>
					<div ng-class='phoneContainer'>
						<div ng-class='leftSide'>Tel:</div>
						<div ng-class='ownerPhone'>
							{{add.ownerPhone}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</li>
</ul>