<div ng-class='loginContainer' ng-controller="LoginController">
	<form name="myLoginForm" ng-class="my-login-form">
		<div ng-class='loginDiv'>Login</div>
		<div ng-class='userNameDiv'>
			Username:<br />
			<input type='text' ng-model="user.username" placeholder='Username...' required/>
		</div>
		<div ng-class='passwordDiv'>
			Password:<br />
			<input type='password' ng-model="user.password" placeholder='Password...' required/>
		</div>
		<input type='button' id="submitButton" ng-click='login(user)' ng-model="button" value='Login' ng-class='submitButton'/>
		<div ng-class='linkRegister'>
			<a href="#/register">Register here</a>
		</div>
	</form>
</div>