<div ng-class='registerContainer' ng-controller="RegisterController">

	<div ng-class='navbar' ng-controller="LoginController" ng-switch on="isLoggedIn">
		<div ng-switch-when="true" ng-class='loginAndRegButtons'>
			<div ng-include="loginTemplate" ng-class='loginAndRegButtons'></div>
		</div>
		<div ng-switch-default ng-class='loginAndRegButtons'>
			<div ng-include="defaultTemplate" ng-class='loginAndRegButtons'></div>
		</div>
	</div>
	
	<form name="myRegisterForm" ng-class="my-register-form">
		<div ng-class='registerDiv'>User Registration</div>
		<div ng-class='leftSideOfRegForm'>
			<div ng-class='userNameRegDiv'>
				Username:<br />
				<input type='text' ng-model="user.username" placeholder='Username...' required/>
			</div>
			<div ng-class='passwordRegDiv'>
				Password:<br />
				<input type='password' ng-model="user.password" placeholder='Password...' required/>
			</div>
			<div ng-class='nameDiv'>
				Name:<br />
				<input type='text' ng-model="user.name" placeholder='Full name...' required/>
			</div>
			<div ng-class='phoneDiv'>
				Phone:<br />
				<input type='text' ng-model="user.phone" placeholder='Phone number...' />
			</div>
			<input type='button' id="registerButton" ng-model="button" value='Register' ng-class='registerButton' ng-click="register(user)"/>
		</div>
		<div ng-class='rightSideOfRegForm'>
			<div ng-class='emptyDiv'>
			</div>
			<div ng-class='confirmPasswordDiv'>
				Confirm password:<br />
				<input type='password' ng-model="user.confirmPassword" placeholder='Confirm password...' required/>
			</div>
			<div ng-class='emailDiv'>
				Email:<br />
				<input type='text' ng-model="user.email" placeholder='Email...' />
			</div>
			<div ng-class='townDiv'>
				Town:<br />
				<select ng-options="town.id as town.name for town in towns" ng-model="user.townId"></select>
			</div>
			<div ng-class='linkLogin'>
				<a href="#/login">Login here</a>
			</div>
		</div>
	</form>
</div>