<div ng-class='filterCategory' ng-controller='RightSideController'>
	<div ng-class='headerCategory'>
		Category
	</div>
	<div class='hoverAdselected' ng-click="categoryClicked(category)" onclick="changeClass(this)">
		<em>All</em>
	</div>
	<div ng-repeat='category in categories' class='hoverAd' ng-click="categoryClicked(category)" onclick="changeClass(this)">
		{{category.name}}
	</div>
</div>
<div ng-class='filterTowns' ng-controller='RightSideController'>
	<div ng-class='headerTowns'>
		Towns
	</div>
	<div class='hoverAdselected' ng-click="townClicked(town)" onclick="changeClass(this)">
		<em>All</em>
	</div>
	<div ng-repeat='town in towns' class='hoverAd' ng-click="townClicked(town)" onclick="changeClass(this)">
		{{town.name}}
	</div>
</div>
